<%- include('header.ejs') %>
<div><h2 class="fadeInUp">Welcome to My Express App</h2></div>
<div>
  <h3 class="center-text">
    Hey !!!<br />
    Anand Suthar Here <br />❤️
  </h3>
</div>
<%- include('footer.ejs') %>
