<%- include('header.ejs') %>
<form action="/getloc" method="post">
  <div class="center-content">
    <div class="give-space">Enter Name : <input type="text" name="us" /></div>
    <div class="give-space">
      Enter location : <input type="text" name="loc" />
    </div>
    <button class="btn">submit</button>
  </div>
</form>
<%- include('footer.ejs') %>
